<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/style/auth.css" />

</head>
<body>
   
    <form action="<%= path %>" method="POST">
        <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <div class="login-input">
            <h2 id="login-portal-name"><%= portalName %></h2>
            <br>
            <br>
            <label for="username">Benutzername</label>
            <br />
            <input type="text" name="username" id="username" placeholder="benutzername eingeben" value="<%= oldInput.username %>" />
            <br />
            <label for="password">Passwort</label>
            <br />
            <input type="password" name="password" id="password" placeholder="passwort eingeben" value="<%= oldInput.password %>" />
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="submit" value="Anmelden" />
        </div>
       
    </form>
</body>
</html>